.login {
  &__container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
  }

  &__box {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  &__button {
    overflow: hidden;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border-radius: 50%;
    transition: all ease 400ms;
    border: 2px solid lightcoral;
    background-color: rgba(240, 128, 128, 0.25);

    &_text {
      margin: 0;
      padding: 0;
      font-size: 16px;
      transition: 400ms;
    }

    &:hover {
      z-index: 5;
      width: 180px;
      border: 0px solid lightcoral;
      background-color: rgba(240, 128, 128, 1);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    height: 180px;
      transition: 400ms;
    }
    
    &:hover > p{
      font-size: 24px;
      font-weight: 700;
      transition: 400ms;
    }
  }
}