.logOut {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  border: 1px solid lightcoral;
  background-color: rgba(240, 128, 128, 0.25);
  border-radius: 50%;
  transition: 300ms;

  &__text {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #333;
    transition: 300ms;
  }

  &:hover {
    z-index: 99;
    width: 52px;
    height: 52px;
    border: 0px solid lightcoral;
    background-color: rgba(240, 128, 128, 1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: 300ms;
  }
  
  &:hover > p {
    font-size: 16px;
    font-weight: 700;
    transition: 300ms;
  }
}


