.message {
	display: flex;
	margin-bottom: 16px;
  flex-direction: column;

	.message__info {
		display: flex;
		flex-direction: column;
    align-items: start;
		color: #555;
    margin-bottom: 8px;

    &_user {
      display: flex;
      gap: 4px;
      align-items: center;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    span {
      font-weight: 300;
      font-size: 10px;
      color: #777;
    }
	}

	.message__content {
		max-width: 80%;
		display: flex;
		flex-direction: column;
		gap: 10px;

		p {
			margin: 0;
			padding: 0;
			background-color: white;
			padding: 8px 16px;
			border-radius: 0px 12px 12px 12px;
			max-width: max-content;
		}

		img {
			width: 50%;
		}
	}

	&.owner {
    align-items: flex-end;

    .message__info{
      align-items: flex-end;

      &_user {
        flex-direction: row-reverse;
      }
    }

		.message__content {
			align-items: flex-end;

			p {
				background-color: cornflowerblue;
				color: white;
				border-radius: 12px 0px 12px 12px;
			}
		}
	}

	&.sender {
    align-items: flex-start;
		.message__content {
			align-items: flex-end;
		}
	}
}