.sUp {
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    margin: 0 auto;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    &_ava {
      position: relative;
      label {
        padding-right: 24px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        cursor: pointer;

        .icon {
        width: 32px;
        height: 32px;
        }

        .text {
        font-size: 14px;
        margin: 0;
        padding-bottom: 3px;
        }
      }

      .close {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
      }
    }
  }
  
  &__links {
    margin: 16px auto 0;
    width: max-content;
    display: flex;
    flex-direction: row;
    gap: 8px;

    &_item {
      text-decoration: none;
      color: #555;
      font-size: 12px;
      transition: 300ms;
      &:hover{
        font-weight: 700;
        transition: 300ms;
      }
    }
  }

  &__image {
    margin-top: 24px;
    width: auto;
    height: 25vh;
  }
}